<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="com.dani.bff.error.GlobalErrorHandler" level="OFF"/>
    <logger name="com.dani.bff.gateway.ResilientDashboardGateway" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
